/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: ORIENT_VALIDATE {
        publishDir = [
            path: { "${params.outdir}/orient_validate" },
            mode: params.publish_dir_mode,
            pattern: '*{.fastq,.log}'
        ]
    }    

    withName: CUTADAPT {
        ext.args = '-g CGCAGTTCCGGATTCTGA...GGATGTATGGTTCTTTTCTTCC --error-rate 0.2 --match-read-wildcards --overlap 15 --minimum-length 50 --times=5 --revcomp --discard-untrimmed'
        publishDir = [
            path: { "${params.outdir}/cutadapt" },
            mode: params.publish_dir_mode,
            pattern: '*{.fastq,.log}'
        ]
    }

    withName: CHECK_PRIMERS {
        publishDir = [
            path: { "${params.outdir}/primer_summary" },
            mode: params.publish_dir_mode,
            pattern: '*{.tsv}'
        ]        
    }

    withName: FILTER_QUALITY {
        publishDir = [
            path: { "${params.outdir}/filter_quality" },
            mode: params.publish_dir_mode,
            pattern: '*{.tsv,.fastq}'
        ]        
    }

    withName: COLLAPSE_SEQUENCES {
        publishDir = [
            path: { "${params.outdir}/collapse" },
            mode: params.publish_dir_mode,
            pattern: '*{.tsv,.fasta}'
        ]        
    }       

    withName: SUMMARY {
        publishDir = [
            path: { "${params.outdir}/summary" },
            mode: params.publish_dir_mode,
            pattern: '*{.tsv}'
        ]        
    }

    withName: FINAL_SUMMARY {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            pattern: '*{.tsv}'
        ]        
    }    

}
